.berita {
    background: #e3e3e3;
    @media screen and (max-width: 768px) {
        min-height: auto;
    }
    .news {
        &:hover {
            .news__image {
                img {
                    transform: scale(1.1);
                }
            }
            .title {
                color: $color-primary;
            }
            .news__content {
                // background: $color-primary;
                // padding: 4px;
                // color: white;
                padding-left: 24px;
                // text-decoration: underline;
            }
        }
        .button-link {
            // padding: 4px;
            width: fit-content;
            border-radius: 8px;
        }
        &__image {
            width: 100%;
            height: 320px;
            overflow: hidden;
            border-radius: 16px 16px 0 0;
            img {
                transition: 0.3s;
                width: 100%;
                height: 100%;
                border-radius: 16px 16px 0 0;
                object-fit: cover;
            }
        }
        &__content {
            transition: 0.3s;
            padding: 16px;
            background: white;
            border-radius: 0 0 16px 16px;
            color: #777;
        }
        .title {
            font-size: 1.3rem;
            transition: 0.3s;
            color: #141b22;
        }
    }
}
