footer {
    padding: 32px 0;
    background: white;
    .footer {
        &__first {
            h2 {
                font-size: 2.2rem;
                font-weight: 700;
            }
            .btn {
                font-size: 1.2rem;
            }
        }
        &__second {
            margin-top: 48px;
            .logo-footer {
                width: 120px;
                height: 120px;
                display: inline-block;
                @media screen and (max-width: 768px) {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .datar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 16px;
                    font-size: 24px;
                    a {
                        color: $color-primary;
                    }
                }
            }
            .namex {
                @media screen and (max-width: 768px) {
                    margin-left: 0 !important;
                    margin-top: 16px;
                    margin-right: 0;
                    width: 100%;
                }
            }
            .one {
                font-size: 1.2rem;
                @media screen and (max-width: 768px) {
                    text-align: center;
                    font-size: 1rem;
                }
            }
            .two {
                font-size: 1.8rem;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }
            .alls {
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }
                h4 {
                    font-size: 1.3rem;
                    color: black;
                }
                li a {
                    transition: 0.3s;
                    &:hover {
                        color: $color-primary;
                        padding-bottom: 2px;
                    }
                }
                p,
                div,
                li a {
                    color: #777;
                }
                margin-bottom: 16px;
            }
        }
    }
}
